In [2]:
from wequant.wefetch.query import *

In [3]:
etf_list = fetch_etf_list()

In [11]:
etf_day = fetch_index_day(list(etf_list.index),'2020-01-01','2027-01-01',format='pd')

In [19]:
etf_day = etf_day.query("open<20").sort_index().iloc[:,:5]

In [33]:
etf_dk = fetch_etf_dk(list(etf_list.index),'2020-01-01','2027-01-01',format='pd')

In [34]:
etf_dk[['L_bias', 'L_label', 'L_switch', 'L_value',
       'R_bias', 'R_label','R_switch', 'R_value','base_code','date']].to_pickle("etf_dk.pkl")

In [26]:
etf_day.to_pickle('etf_day.pkl')

In [28]:
etf_list.to_pickle("etf_list.pkl")

In [30]:
etf_dk

             code trade_date  L_bias  L_label  ...  switch2  switch3  type       date
24919   510800.SH   20240108   0.000        1  ...        0       -1   etf 2024-01-08
90271   516950.SH   20240108   0.000        1  ...        0        0   etf 2024-01-08
43667   512810.SH   20240108   0.000        1  ...       -1       -1   etf 2024-01-08
23835   510650.SH   20240108   0.000        1  ...        0        0   etf 2024-01-08
44156   512880.SH   20240108   0.000        1  ...        0       -1   etf 2024-01-08
...           ...        ...     ...      ...  ...      ...      ...   ...        ...
75098   515960.SH   20260202   0.000        1  ...       -1        0   etf 2026-02-02
21466   510500.SH   20260202  15.393        0  ...        0        0   etf 2026-02-02
7080    501098.SH   20260202  21.287        0  ...        0        0   etf 2026-02-02
22141   510530.SH   20260202  16.276        0  ...        0        0   etf 2026-02-02
127037  588860.SH   20260202   0.000        1  ...       -1        0   etf 2026-02-02

[127750 rows x 22 columns]